<div class="body">
    <div class="container-fluid layout">
        <div class="title">
            <h2>
                Official Wallpaper
            </h2>
        </div>
        <div class="col-lg-12 wa">
            <div class="row">
                <div class="col-lg-6 profile">
                    <h3>CYBORG</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_20220227195351X1J3tx.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 profile">
                    <h3>AORUS CODE</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_202206212035902udy0s.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 wa">
            <div class="row">
                <div class="col-lg-6 profile">
                    <h3>AORUS_SPEED</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_20220215191288AoJCAD.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 profile">
                    <h3>AORUS_START RESCU</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_20220216183387rrulh9.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 wa">
            <div class="row">
                <div class="col-lg-6 profile">
                    <h3>Metropolis</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_20220106160155rYfqe9.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 profile">
                    <h3>Strike</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_20220106150644jd6osR.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 wa">
            <div class="row">
                <div class="col-lg-6 profile">
                    <h3>Shock Wave</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_20220106150377xRw9Pf.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 profile">
                    <h3>Strike</h3>
                    <div class="card">
                        <img src="assets/images/cuongimg/F_20220106145665rCqjo7.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>