
<div class="body">
    <div class="container layout">
        <div class="title">
            <h2>
                Details
            </h2>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="label">
                        <span>Discover</span>
                    </div>
                    <h1 class="page-title">{{nameBlog.name}}
                    </h1>
                    <p class="time">{{nameBlog.title}}</p>
                    <div class="img">
                        <img src="{{nameBlog.img}}">
                    </div>
                    <div class="item">
                        <p>{{nameBlog.content1}}</p>
                        <p>{{nameBlog.content2}}</p>
                        <p>{{nameBlog.content3}}</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h3 class="page-title">Design</h3>
                    <p>{{nameBlog.content4}}</p>
                    <div class="img">
                        <img src="{{nameBlog.img1}}">
                    </div>
                    <div class="box col-lg-6">
                        <p>
                            {{nameBlog.content5}}
                        </p>
                        <p>
                            {{nameBlog.content6}}</p>
                        <p>{{nameBlog.content7}}</p>
                        <p>{{nameBlog.content8}}</p>
                        <p>{{nameBlog.content9}}</p>
                        <p>{{nameBlog.content10}}</p>
                        <p>{{nameBlog.content11}}</p>
                        <p>{{nameBlog.content12}}</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h3 class="page-title">Temperature</h3>
                    <p>  {{nameBlog.content13}}
                    </p>
                    <div class="img">
                        <img src="{{nameBlog.img2}}">
                    </div>
                    <p>
                        {{nameBlog.content14}}
                    </p>
                </div>
                <div class="col-lg-12">
                    <h3 class="page-title">Memory and PCIe</h3>
                    <p>{{nameBlog.content15}}
                    </p>
                    <div class="img">
                        <img src="{{nameBlog.img3}}">
                    </div>
                    <p>
                        {{nameBlog.content16}}
                    </p>
                    <p>
                        {{nameBlog.content17}}
                    </p>
                </div>
                <div class="col-lg-12">
                    <h3 class="page-title">Conclusion</h3>
                    <p>{{nameBlog.content18}}
                    </p>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>