<style>
    @media screen and (max-width: 769px) {
        .main .top {
            background-color: black;
            width: 100%;
            height: 190px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 100px;
            color: white;
        }
        .main .top .col-md-6,
        .main .top .col-md-6 {
            margin-top: 20px;
        }
        .main .top .col-md-6 h1 {
            font-size: 22px;
            line-height: 100%;
            color: #FF6400;
            font-weight: 620;
            margin-top: 10px;
            padding-right: 20px;
        }
        .group-option {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            cursor: pointer;
            align-items: center;
        }
        .product img {
            width: 100%;
            height: 100px;
        }
        .group-option h6 {
            font-size: 13px;
        }
        .group-option i {
            font-size: 20px;
        }
        .hover h6 {
            color: #FF6400;
        }
        .hover:hover h6 {
            border-bottom: 2px solid #FF6400;
            transition: 0.2s all;
        }
        .main .detail {
            background-image: url('https://www.gigabyte.com/FileUpload/Global/KeyFeature/2128/innergigabyteimages/specbg.png?fbclid=IwAR1KG4DHT0XN9JAqZzKF2_SFykCtIUh5gILK_NVRKuoj2awLI-mIQwIFm2s');
            height: 700px;
        }
        .main .detail .product img {
            width: 100%;
            height: 600px;
        }
        .features span {
            font-size: 22px;
            font-weight: 600;
            color: #FF6400;
        }
        .listSpecifying .col-md-9 {
            padding-left: 0px;
        }
        .functional i {
            color: white;
            font-size: 10px;
            margin-right: 10px;
        }
        .functional h6 {
            color: white;
            margin: 15px 30px;
            font-size: 13px;
        }
        .price h6 {
            font-size: 22px;
            color: white;
            font-weight: 600;
            margin-top: 30px;
        }
        .cart button {
            background-color: #FF6400;
            width: 250px;
            padding: 10px;
            color: white;
            font-weight: 650;
            margin-top: 20px;
        }
        .specifying {
            background-color: black;
            width: 100%;
            height: auto;
        }
        .specifying .head h6 {
            text-align: center;
            color: #FF6400;
            font-size: 23px;
            font-weight: 600;
        }
        .specifying .container .col-md-9 h6 {
            font-size: 23px;
            padding-left: 60px;
        }
        table tr td {
            color: white;
            font-weight: 500;
            font-size: 17px;
        }
        .listSpecifying table tr td {
            font-size: 14px;
        }
        .product img {
            width: 100%;
        }
        .listSpecifying .col-md-9 {
            padding-left: 30px;
        }
    }
    
    @media screen and (max-width: 321px) {
        .main .top {
            background-color: black;
            width: 100%;
            min-height: 250px;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 100px;
            color: white;
        }
        .main .top .col-md-6,
        .main .top .col-md-6 {
            margin-top: 20px;
        }
        .main .top .col-md-6 h1 {
            font-size: 18px;
            line-height: 100%;
            color: #FF6400;
            font-weight: 620;
            margin-top: 10px;
            /* padding-right: 20px; */
        }
        .group-option {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            cursor: pointer;
            align-items: center;
        }
        .product img {
            width: 100%;
            height: 100px;
        }
        .group-option h6 {
            font-size: 13px;
            padding: 0px 10px;
        }
        .group-option i {
            font-size: 20px;
        }
        .hover h6 {
            color: #FF6400;
        }
        .hover:hover h6 {
            border-bottom: 2px solid #FF6400;
            transition: 0.2s all;
        }
        .main .detail {
            background-image: url('https://www.gigabyte.com/FileUpload/Global/KeyFeature/2128/innergigabyteimages/specbg.png?fbclid=IwAR1KG4DHT0XN9JAqZzKF2_SFykCtIUh5gILK_NVRKuoj2awLI-mIQwIFm2s');
            height: 700px;
        }
        .main .detail .product img {
            width: 100%;
            height: 600px;
        }
        .features span {
            font-size: 18px;
            font-weight: 600;
            color: #FF6400;
        }
        .functional i {
            color: white;
            font-size: 10px;
            margin-right: 10px;
        }
        .functional h6 {
            color: white;
            margin: 15px 30px;
            font-size: 13px;
        }
        .price h6 {
            font-size: 22px;
            color: white;
            font-weight: 600;
            margin-top: 30px;
        }
        .cart button {
            background-color: #FF6400;
            width: 250px;
            padding: 10px;
            color: white;
            font-weight: 650;
            margin-top: 20px;
        }
        .specifying {
            background-color: black;
            width: 100%;
            height: auto;
        }
        .specifying .head h6 {
            text-align: center;
            color: #FF6400;
            font-size: 23px;
            font-weight: 600;
        }
        .specifying .container .col-md-9 h6 {
            font-size: 23px;
            padding-left: 60px;
        }
        .listSpecifying table tr td {
            color: white;
            font-weight: 500;
            font-size: 10px;
        }
        .product img {
            width: 100%;
            height: 100px;
        }
        .end {
            padding-left: 0;
        }
        .listSpecifying .col-md-9 {
            padding-left: 0px;
        }
    }
    
    @media screen and (max-width: 450px) {
        .main .top {
            background-color: black;
            width: 100%;
            min-height: 10px;
            height: auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 20px;
            color: white;
        }
        .main .top .col-md-6,
        .main .top .col-md-6 {
            margin-top: 20px;
        }
        .main .top .col-md-6 h1 {
            font-size: 18px;
            line-height: 100%;
            color: #FF6400;
            font-weight: 620;
            margin-top: 10px;
            /* padding-right: 20px; */
        }
        .group-option {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            cursor: pointer;
            align-items: center;
        }
        .product img {
            width: 100%;
            height: 100px;
        }
        .group-option h6 {
            font-size: 13px;
            padding: 0px 10px;
        }
        .group-option i {
            font-size: 20px;
        }
        .hover h6 {
            color: #FF6400;
        }
        .hover:hover h6 {
            border-bottom: 2px solid #FF6400;
            transition: 0.2s all;
        }
        .main .detail {
            background-image: url('https://www.gigabyte.com/FileUpload/Global/KeyFeature/2128/innergigabyteimages/specbg.png?fbclid=IwAR1KG4DHT0XN9JAqZzKF2_SFykCtIUh5gILK_NVRKuoj2awLI-mIQwIFm2s');
            height: 700px;
        }
        .main .detail .product img {
            width: 100%;
            height: 200px;
        }
        .features span {
            font-size: 18px;
            font-weight: 600;
            color: #FF6400;
        }
        .functional i {
            color: white;
            font-size: 10px;
            margin-right: 10px;
        }
        .functional h6 {
            color: white;
            margin: 15px 0px;
            font-size: 12px;
            ;
        }
        .price h6 {
            font-size: 22px;
            color: white;
            font-weight: 600;
            margin-top: 30px;
        }
        .cart button {
            background-color: #FF6400;
            width: 200px;
            padding: 10px;
            color: white;
            font-weight: 650;
            margin-top: 20px;
        }
        .specifying {
            background-color: black;
            width: 100%;
            height: auto;
        }
        .specifying .head h6 {
            text-align: center;
            color: #FF6400;
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
        }
        .specifying .container .col-md-9 h6 {
            font-size: 17px;
            padding-left: 0px;
            text-align: center;
        }
        .listSpecifying table tr td {
            color: white;
            font-weight: 500;
            font-size: 10px;
            border-bottom: none;
        }
        .product img {
            width: 100%;
            height: 100px;
            padding-right: 0px;
        }
        .end {
            padding-left: 0;
        }
        .listSpecifying .col-md-9 {
            padding-left: 0px;
        }
        .border-bot {
            border-bottom: 1px solid white;
            padding: 10px 0px;
        }
    }
</style>
<div class="main">
    <div class="top">
        <div class="row">
            <div class="col-md-6">
                <h1>{{dataProduct.name}}</h1>
            </div>
            <div class="col-md-6">
                <div class="group-option">
                    <div class="hover">
                        <h6>Main function</h6>
                    </div>
                    <h6 (click)="scroll()">Specifying</h6>
                    <h6 (click)="addToCart()">Buy</h6>
                    <h6><a href="https://www.facebook.com/AorusVN"><i class="fa-brands fa-facebook"></i></a></h6>
                    <h6><a href="gigabyte.com/vn/Graphics-Card/GV-N2060AORUS-X-6GC-rev-10#kf"><i class="fa-brands fa-twitter"></i></a></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="row px-5">
            <div class="col-md-7">
                <div class="product">
                    <owl-carousel-o [options]="customOptions">

                        <ng-container *ngFor="let item of sliderImg">
                            <ng-template carouselSlide [id]="item.id">
                                <img src="{{item.img}}" alt="" class="card-img">
                            </ng-template>
                        </ng-container>

                    </owl-carousel-o>
                </div>
            </div>
            <div class="col-md-5 px-3">
                <div class="features">
                    <span>Features</span>
                </div>
                <div class="functional" *ngFor="let item of listFeatures">
                    <h6><i class="fa-solid fa-circle"></i>{{item}}</h6>
                </div>
                <div class="price">
                    <h6>${{dataProduct.price}}</h6>
                </div>
                <div class="cart">
                    <button (click)="addToCart()">ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
    <div class="specifying">
        <div class="head">
            <h6>SPECIFYING</h6>
            <h6 class="mt-4">{{dataProduct.name}} </h6>
        </div>
        <div class="container listSpecifying">
            <div class="row border-bot" *ngFor="let item of listSpecifying">
                <div class="col-md-3 col-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <td> {{item.name}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-9 col-8">
                    <table class="table end">
                        <thead>
                            <tr>
                                <td>{{item.data}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>