<div class="main">
    <div class="top">
        <div class="row">
            <div class="col-md-6">
                <h1>{{dataProduct.name}}</h1>
            </div>
            <div class="col-md-6">
                <div class="group-option">
                    <div class="hover">
                        <h6 >Main function</h6>
                    </div>
                    <h6 (click)="scroll()">Specifying</h6>
                    <h6 (click)="addToCart()">Buy</h6>
                    <h6><a href="https://www.facebook.com/AorusVN"><i class="fa-brands fa-facebook"></i></a></h6>
                    <h6><a href="gigabyte.com/vn/Graphics-Card/GV-N2060AORUS-X-6GC-rev-10#kf"><i class="fa-brands fa-twitter"></i></a></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="row px-5" >
            <div class="col-md-7">
                <div class="product">
                    <owl-carousel-o [options]="customOptions">

                        <ng-container *ngFor="let item of sliderImg">
                          <ng-template carouselSlide [id]="item.id">
                            <img src="{{item.img}}" alt="" class="card-img">
                          </ng-template>
                        </ng-container>
                    
                      </owl-carousel-o>
                </div>
            </div>
            <div class="col-md-5 px-3">
                <div class="features">
                    <span>Features</span>
                </div>
                <div class="functional" *ngFor="let item of listFeatures">
                    <h6><i class="fa-solid fa-circle"></i>{{item}}</h6>
                </div>
                <div class="price">
                    <h6>${{dataProduct.price}}</h6>
                </div>
                <div class="cart">
                    <button (click)="addToCart()">ADD TO CART</button>
                </div>
            </div>
        </div>
    </div> 
    <div class="specifying" >
        <div class="head">
            <h6>SPECIFYING</h6>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <h6>{{dataProduct.name}} </h6>
                </div>
            </div>
        </div>
        <div class="container listSpecifying">
            <div class="row border-bot" *ngFor="let item of listSpecifying">
                <div class="col-md-3 col-4">
                  <table class="table">
                    <thead>
                        <tr >
                           <td> {{item.name}}</td>
                        </tr>
                    </thead>
                  </table>
                </div>
                <div class="col-md-9 col-8">
                    <table class="table end">
                        <thead>
                            <tr>
                                <td>{{item.data}}</td>
                             </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>     
</div>