<div class="body">
    <div class="container-fluid layout">
        <div class="title1">
            <h1>
                Welcome to eSupport
            </h1>
            <p class="title-sub">Submit your product/sponsorship /marketing questions or inquiries, and our representative will respond in a timely fashion.
            </p>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 wa">
                    <div class="box-1">
                        <div class="topic">
                            <span><img src="assets/images/cuongimg/DataFlow_bullets_Nx90.png"></span>
                            <span><b>NEWS</b></span>
                        </div>
                        <div class="News">
                            <span> Your submissions will be displayed in your personal page,
                                log in to see the processing status.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wa">
                    <div class="box-11">
                        <div class="topic">
                            <span><img src="assets/images/cuongimg/DataFlow_bullets_Nx90.png"></span>
                            <span><b>SIGN IN</b></span>
                        </div>
                        <div>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputtext1" placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputtext1" placeholder="Telephone Number">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputtext1" placeholder="Topic">
                                </div>
                                <div class="form-group mt-3 ">
                                    <Textarea class="form-control" placeholder="Does AORUS make you feel good? Help us leave a comment so we can make everyone happy" rows="6"></Textarea>
                                </div>
                                <div class="bg mt-3">
                                    <button class="btn btn-primary px-5" (click)="submit($event)"> SEND </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 wa">
                    <div class="box-1">
                        <div class="topic">
                            <span><img src="assets/images/cuongimg/DataFlow_bullets_Nx90.png"></span>
                            <span><b>QUICK LINK</b></span>
                        </div>
                        <ul class="Quick_link">
                            <li>
                                <a>
                                    <img src="assets/images/cuongimg/downloads.png" alt="download center">
                                    <p class="body_textbold">Downloads</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="assets/images/cuongimg/FAQ.png" alt="FAQ">
                                    <p class="body_textbold">FAQ</p>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="assets/images/cuongimg/warranty.png" alt="Warranty">
                                    <p class="body_textbold">Warranty</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>