header {
    background-image: linear-gradient(to bottom, black, rgb(69, 69, 69));
    color: #ffff;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: -2px;
}

.totalCart {
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    background-color: #FF6400;
    border-radius: 100%;
}

header:hover {
    background-image: none;
    background-color: #000 !important;
}

.divImg {
    width: 188px;
    height: 80px;
}

.divImg img {
    margin-top: 15px;
    cursor: pointer;
}

.containerFull {
    padding: 0px 80px;
    background-color: #000;
}

.menu {
    margin-left: 20px;
}

.menu ul {
    margin-bottom: 0px;
}

.menu ul .liLevel1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    z-index: 999;
}

.aLevel1 {
    background-color: #000;
    padding: 25px 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffff;
}

.menu ul li a i {
    font-size: 16px;
}

.ulHover {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    list-style: none;
    left: 0;
    top: -400px;
    background: black;
    width: 240px;
    overflow: hidden;
    /* z-index: 100; */
    z-index: -999;
}

.ulHover li {
    display: list-item !important;
    border-bottom: 1px solid rgb(69, 69, 69);
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.ulHover li:last-child {
    border-bottom: 0px;
}

.ulHover li a {
    margin-left: -10px;
}

.menu ul li:hover .aLevel1 {
    color: #FF6400;
}

.menu ul li:hover .aLevel1 i {
    transform: rotate(180deg);
    transition: 300ms;
}

.menu ul li:hover .ulHover {
    top: 55px;
    /* opacity: 1; */
    transition: 1000ms;
}

.ulHover li:hover a {
    color: #FF6400 !important;
}

.rightNAV {
    margin-top: 20px;
}

.rightNAV ul li {
    display: inline-block;
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.rightNAV ul li a i {
    font-size: 20px;
    color: white;
}

.logoGiga {
    width: 120px;
    height: 80px;
    padding-top: 24px;
    margin-left: 20px;
    cursor: pointer;
}

.rightNAV ul li:hover a i {
    color: #FF6400;
}

.toggle {
    display: none;
}

.toggle i {
    font-size: 20px;
}

.toggle i:hover {
    color: #FF6400;
}

.menuMobile {
    background-color: #000;
}

.formSearch {
    position: relative;
}

.formSearch input {
    padding: 7px 20px;
    width: 300px;
    background-color: rgb(52, 52, 52);
    border: none;
    color: #ffff;
}

.formSearch i {
    position: absolute;
    top: 11px;
    right: 10px;
    color: rgb(199, 199, 199);
}

.buttonClose {
    display: block;
    color: #ffff;
    font-size: 20px;
    background-color: #000;
    border: none;
    padding: 5px 10px;
}

footer {
    background-color: #000;
}

footer p {
    padding: 30px;
    padding-top: 40px;
    color: #ffff;
    margin-bottom: 0px;
}

.buttonDropdown {
    width: 300px;
    border: none;
    border: 1px solid grey;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #000;
    color: #ffff;
}

.buttonDropdown:hover {
    color: #FF6400 !important;
    background-color: #000 !important;
}

.ulDropdown {
    border-radius: 0px;
    background-color: #000;
}

.ulDropdown li {
    width: 310px;
    padding: 10px 20px;
    background-color: #000;
    border-bottom: 1px solid rgb(55, 55, 55);
    margin-left: -5px;
}

.ulDropdown li:hover a {
    color: #FF6400;
}

.formSearchHeader {
    width: 70%;
    position: relative;
}

.formSearchHeader i {
    position: absolute;
    left: 15px;
    top: 20px;
}

.formSearchHeader input {
    width: 100%;
    padding: 10px 20px;
    padding-left: 50px;
    font-size: 24px;
    background-color: rgb(52, 52, 52);
    border: none;
    color: white;
}

.closeSearch {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    border-radius: 100px;
    cursor: pointer;
}

.itemSearched {
    padding: 20px 10px;
    padding-left: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 999 !important;
}

.itemSearched div:hover {
    color: #FF6400 !important;
    cursor: pointer;
}

.closeSearch:hover {
    color: #FF6400;
    background-color: rgb(24, 24, 24);
}

.menuMobile .itemSearched {
    max-height: 400px;
    padding: 10px 10px;
    padding-left: 0px;
}

.menuMobile .itemSearched div:hover p {
    color: #FF6400 !important;
}

@media screen and (max-width: 1200px) {
    .aLevel1 {
        padding: 25px 10px;
    }
}

@media screen and (max-width: 1100px) {
    .toggle {
        display: block;
    }
    .menu {
        display: none
    }
    .liSearch,
    .logoGiga {
        display: none !important;
    }
    .divImg {
        margin-left: 65px;
    }
    .containerFull {
        padding: 0px 40px;
    }
    .itemSellers .choseItem {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 480px) {
    .containerFull {
        padding: 0px 30px;
    }
    .divImg {
        width: 140px;
        margin-left: 40px;
    }
    .divImg img {
        margin-top: 22px;
    }
    .toggle i {
        font-size: 16px;
    }
    .rightNAV ul li a i {
        font-size: 16px;
    }
    .rightNAV ul {
        padding-left: 0;
    }
    .rightNAV ul li {
        padding: 0px;
    }
    .formSearch input {
        width: 250px;
    }
    .buttonDropdown {
        width: 290px;
    }
}