<!-- header  -->
<header>
    <div class="container-fluid containerFull">
        <div class="d-flex align-items-center justify-content-between">
            <div class="toggle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="d-flex align-items-center">
                <div class="divImg">
                    <img class="card-img" src="../../../assets/images/vinhImg/logo.png" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li class="position-relative liLevel1">
                            <a class="aLevel1">Products <i class="fa-solid fa-angle-down"></i></a>
                            <ul class="ulHover">
                                <li><a>Motherboards</a></li>
                                <li><a>Monitors</a></li>
                                <li><a>Memorys</a></li>
                                <li><a>Graphic Cards</a></li>
                                <li><a>PC Cases</a></li>
                                <li><a>CPU Coolers</a></li>
                                <li><a>Power Supplys</a></li>
                                <li><a>Laptops</a></li>
                            </ul>
                        </li>
                        <li class="position-relative liLevel1">
                            <a class="aLevel1">Explore <i class="fa-solid fa-angle-down"></i></a>
                            <ul class="ulHover">
                                <li><a>News</a></li>
                                <li><a>Blogs</a></li>
                                <li><a>Wallpapers</a></li>
                                <li><a>Comparision</a></li>
                            </ul>
                        </li>
                        <li class="position-relative liLevel1">
                            <a class="aLevel1">Service <i class="fa-solid fa-angle-down"></i></a>
                            <ul class="ulHover">
                                <li><a>Warranty</a></li>
                                <li><a>About Us</a></li>
                                <li><a>About Gigabyte</a></li>
                                <li><a>Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="position-relative liLevel1"><a class="aLevel1">PC Building</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex">
                <div class="rightNAV">
                    <ul>
                        <li class="liSearch"><a><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a><i class="fa-solid fa-user"></i></a></li>
                    </ul>
                </div>
                <div class="logoGiga">
                    <img class="card-img" src="../../../assets/images/vinhImg/logo_gigabyte_white.png" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header menu mobile  -->

<div class="offcanvas offcanvas-start menuMobile" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <div class="formSearch">
            <input type="text" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <button class="buttonClose" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-x"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle buttonDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </button>
            <ul class="dropdown-menu dropdown-menu-dark ulDropdown">
                <li><a class="dropdown-item">Motherboard</a></li>
                <li><a class="dropdown-item">PC Case</a></li>
                <li><a class="dropdown-item">Moninitor</a></li>
                <li><a class="dropdown-item">Graphics Card</a></li>
                <li><a class="dropdown-item">Memory</a></li>
                <li><a class="dropdown-item">Solid State Drive</a></li>
                <li><a class="dropdown-item">CPU Cooler</a></li>
                <li><a class="dropdown-item">Power Supply</a></li>
                <li><a class="dropdown-item">Laptop</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle buttonDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Explore
            </button>
            <ul class="dropdown-menu dropdown-menu-dark ulDropdown">
                <li><a class="dropdown-item">News</a></li>
                <li><a class="dropdown-item">Blogs</a></li>
                <li><a class="dropdown-item">Wallpaper</a></li>
                <li><a class="dropdown-item">Comparision</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle buttonDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Service
            </button>
            <ul class="dropdown-menu dropdown-menu-dark ulDropdown">
                <li><a class="dropdown-item">Warranty</a></li>
                <li><a class="dropdown-item">About AORUS</a></li>
                <li><a class="dropdown-item">About GIGABYTE</a></li>
                <li><a class="dropdown-item">Contact us</a></li>
            </ul>
        </div>
        <button class="buttonDropdown">PC Building</button>
    </div>
</div>