<!-- header  -->
<header>
    <div class="container-fluid containerFull" id="trueHeader">
        <div class="d-flex align-items-center justify-content-between">
            <div class="toggle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="d-flex align-items-center">
                <div class="divImg" routerLink="/">
                    <img class="card-img" src="assets/images/vinhImg/logo.png" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li class="position-relative liLevel1">
                            <a class="aLevel1" routerLink="/shop">Products <i class="fa-solid fa-angle-down"></i></a>
                            <ul class="ulHover">
                                <li *ngFor="let item of listProducts" (click)="navigate(item.id)"><a>{{item.name}}</a></li>
                            </ul>
                        </li>
                        <li class="position-relative liLevel1">
                            <a class="aLevel1">Explore <i class="fa-solid fa-angle-down"></i></a>
                            <ul class="ulHover">
                                <li><a>News</a></li>
                                <li><a>Blogs</a></li>
                                <li><a>Wallpapers</a></li>
                                <li routerLink="/compare"><a>Comparision</a></li>
                            </ul>
                        </li>
                        <li class="position-relative liLevel1">
                            <a class="aLevel1">Service <i class="fa-solid fa-angle-down"></i></a>
                            <ul class="ulHover">
                                <li><a>Warranty</a></li>
                                <li><a>About Us</a></li>
                                <li><a>About Gigabyte</a></li>
                                <li><a>Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="position-relative liLevel1"><a class="aLevel1">PC Building</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex">
                <div class="rightNAV">
                    <ul>
                        <li class="liSearch" (click)="goToSearchHeader()"><a><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a><i class="fa-solid fa-user"></i></a></li>
                    </ul>
                </div>
                <div class="logoGiga">
                    <img class="card-img" src="assets/images/vinhImg/logo_gigabyte_white.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid containerFull d-none" id="searchHeader">
        <div class="d-flex align-items-center justify-content-between">
            <div class="divImg" routerLink="/">
                <img class="card-img" src="assets/images/vinhImg/logo.png" alt="">
            </div>
            <div class="formSearchHeader" id="formSearchHeader1">
                <input type="text" placeholder="Search" [(ngModel)]="keyword" (focus)="showSearchItemBox(1)">
                <i class="fa-solid fa-magnifying-glass"></i>
                <div class="itemSearched d-none" id="searchItemBox1">
                    <div class="d-flex py-2" *ngFor="let item of listItemSearch | search:keyword">
                        <img src="{{item.imgProduct}}" width="80px" alt="">
                        <div class="divNameSearch ms-2">
                            <p class="mb-0 fw-bold">{{item.name}}</p>
                            <p class="mb-0">{{item.category_name}}</p>
                            <p class="mb-0">${{item.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="closeSearch" (click)="closeSearchHeader()">
                <i class="fa-solid fa-x"></i>
            </div>
        </div>
    </div>
</header>
<!-- header menu mobile  -->

<div class="offcanvas offcanvas-start menuMobile" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <div class="formSearch position-relative" id="formSearchHeader2">
            <input type="text" placeholder="Search" [(ngModel)]="keyword" (keyup)="showSearchItemBox(2)">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="itemSearched d-none" id="searchItemBox2">
                <div class="d-flex py-2" *ngFor="let item of listItemSearch | search:keyword">
                    <img src="{{item.imgProduct}}" width="60px" alt="">
                    <div class="divNameSearch ms-2">
                        <p class="mb-0 fw-bold text-light">{{item.name}}</p>
                        <p class="mb-0 text-light">{{item.category_name}}</p>
                        <p class="mb-0 text-light">${{item.price}}</p>
                    </div>
                </div>

            </div>
        </div>
        <button class="buttonClose" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-x"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle buttonDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </button>
            <ul class="dropdown-menu dropdown-menu-dark ulDropdown">
                <li><a class="dropdown-item" routerLink="/shop">All Product</a></li>
                <li *ngFor="let item of listProducts"><a class="dropdown-item">{{item.name}}</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle buttonDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Explore
            </button>
            <ul class="dropdown-menu dropdown-menu-dark ulDropdown">
                <li><a class="dropdown-item">News</a></li>
                <li><a class="dropdown-item">Blogs</a></li>
                <li><a class="dropdown-item">Wallpaper</a></li>
                <li><a class="dropdown-item" routerLink="compare">Comparision</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle buttonDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Service
            </button>
            <ul class="dropdown-menu dropdown-menu-dark ulDropdown">
                <li><a class="dropdown-item">Warranty</a></li>
                <li><a class="dropdown-item">About AORUS</a></li>
                <li><a class="dropdown-item">About GIGABYTE</a></li>
                <li><a class="dropdown-item">Contact us</a></li>
            </ul>
        </div>
        <button class="buttonDropdown">PC Building</button>
    </div>
</div>