<div class="body">
    <div class="fakeBody"></div>
    <div class="container-fluid layout">
        <div class="title">
            <h2 id="title">User Information</h2>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-3">
                    <app-menu-user></app-menu-user>
                </div>

                <div class="col-lg-9 col-12 mt-10 row">

                    <div class="col-lg-1"></div>
                    <div class="col-lg-9 mt-10 content user-content" *ngIf="user">
                        <form class="row g-3 justify-content-around">
                            <div class="col-md-4">
                                <label for="validationDefault01 mb-0" class="form-label">First name</label>
                                <input type="text" class="form-control ps-0" id="validationDefault01" value="{{user.fullName}}" disabled required>
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefault02 mb-0" class="form-label">Email Address</label>
                                <input type="email" class="form-control ps-0" id="validationDefault02" required disabled value="{{user.email}}">
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefaultUsername mb-0" class="form-label">Telephone Number</label>
                                <input type="text" class="form-control ps-0" value="{{user.phone}}" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefault03 mb-0" class="form-label">Address</label>
                                <input type="text" class="form-control ps-0" id="validationDefault03 " value="{{user.address}}" required disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefault04 mb-0" class="form-label">Country</label>
                                <input type="text" class="form-control ps-0" id="validationDefault03 " required disabled value="{{user.country}}">
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefault05 mb-0" class="form-label">Password</label>
                                <input type="password" class="form-control ps-0" id="validationDefault05" required disabled value="{{user.password}}">
                            </div>
                            <div class="col-12">
                                <button class="btn rounded-0" type="submit" (click)="deleteUser(user.id)">Delete
                                    Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>