<div class="all">
    <div class="background col-12">
        <div class="register">
            <div class="top col-12">
                <h5>CREATE YOUR ACCOUNT</h5>
                <div class="steps">
                    <div class="number" style="background-color: #F86902;font-size: 23px;">1</div>
                    <div class="strikethrough" style="background-color: #F86902"></div>
                    <div class="number" style="background-color:white;font-size: 23px;">2</div>
                    <div class="strikethrough"></div>
                    <div class="number" style="background-color:white;font-size: 23px;">3</div>
                </div>
            </div>
            <div class="mid col-12">
                <form [formGroup]="formIn4" (ngSubmit)="register()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email *</label>
                        <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Please enter your email" formControlName="email">
                        <div class="validator">
                            <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)">
                                <div *ngIf="form.email.errors?.['required']">
                                    <span class="text-danger">Email entry required</span>
                                </div>
                                <div *ngIf="!form.email.errors?.['patten']">
                                    <span class="text-danger">Please provide a valid email</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">FullName *</label>
                        <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Please enter your name" formControlName="fullName">
                        <div class="validators">
                            <div *ngIf="form.fullName.invalid && (form.fullName.dirty || form.fullName.touched)">
                                <div *ngIf="form.fullName.errors?.['required']">
                                    <span class="text-danger">Fullname enter required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">TelephoneNumber *</label>
                        <input type="password" class="form-control" id="" aria-describedby="emailHelp" placeholder="enter password here" formControlName="telephoneNumber">
                        <div class="validators">
                            <div *ngIf="form.telephoneNumber.invalid && (form.telephoneNumber.dirty || form.telephoneNumber.touched)">
                                <div *ngIf="form.telephoneNumber.errors?.['required']">
                                    <span class="text-danger">required to enter the correct telephoneNumber</span>
                                </div>
                                <div *ngIf="!form.telephoneNumbererrors?.['patten']">
                                    <span class="text-danger">Please provide a valid telephoneNumber</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group eyes">
                        <label for="exampleInputPassword1">Enter again password *</label>
                        <input type="password" class="form-control" id="password" placeholder="enter again password here" formControlName="password"  (keyup)="showEye()">
                        <div class="validators">
                            <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
                                <div *ngIf="form.password.errors?.['required']">
                                    <span class="text-danger">password enter required</span>
                                </div>
                            </div>
                        </div>
                        <div class="eye" (click)="showPass()" id="showText">
                            <i class="fa-solid fa-eye" id="eye"></i>
                        </div>
                    </div>
                    <div class="social_network">
                        <div class="left">
                            <h6>Or login with</h6>
                        </div>
                        <div class="right">
                            <div class="icon">
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="icon">
                                <i class="fa-brands fa-google-plus-g"></i>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <div class="row">
                            <div class="col-md-7 col-7" style="padding-right: 20px;">   
                                <button routerLink="/login">You have already  account</button>
                            </div>
                            <div class="col-md-5 col-5" style="cursor: pointer;">
                                <button type="submit" [disabled]="form.email.invalid || form.fullName.invalid || form.telephoneNumber.invalid || form.password.invalid">Register</button>
                            </div>
                        
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>