<div class="body">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item carolImg active">
                <img class="card-img aaa" src="assets/images/vinhImg/banner/Project Stealth-1653278497.jpg" alt="First slide">
                <div class="textBanner">
                    <h3 class="text-light text-center">LESS IS MORE</h3>
                    <h6 class="text-light text-center mt-2">OUR PROJECT STEAL</h6>
                    <button class="text-light buttonBanner mt-4" routerLink="/shop/3">SEE MORE</button>
                </div>
            </div>
            <div class="carousel-item carolImg">
                <img class="card-img aaa" src="assets/images/vinhImg/banner/AORUS 17X-1652160809 (1).jpg" alt="Second slide">
                <div class="textBanner">
                    <h3 class="text-light text-center">Reshape the Game</h3>
                    <h6 class="text-light text-center mt-2">AORUS 17 &17X GAMING LAPTOP</h6>
                    <button class="text-light buttonBanner mt-4" routerLink="/shop/9">SEE MORE</button>
                </div>
            </div>
            <div class="carousel-item carolImg">
                <img class="card-img aaa" src="assets/images/vinhImg/banner/4K Pro Gaming On-1661933081.jpg" alt="Third slide">
                <div class="textBanner">
                    <h3 class="text-light text-center">4K Pro Gaming On!</h3>
                    <h6 class="text-light text-center mt-2">GIGABYTE AORUS 4K Monitors</h6>
                    <button class="text-light buttonBanner mt-4" routerLink="/shop/2">SEE MORE</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container-fluid containerFull">
        <div class="main">
            <!-- content  -->
            <div class="gamingGears">
                <h1 class="text-center text-light mt-5">GAMING GEARS</h1>
                <h5 class="text-center text-light mt-2 class">AORUS is a world leading brand in high-performance motherboards, graphic cards, laptops gaming hardware and systems. We are passionate about teaming up with gamers to fearlessly challenge the limits and win ultimate glory.</h5>
                <div class="row mt-5">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let item of banner">
                            <div class=" scale" routerLink="/shop/{{item.id}}">
                                <div class="itemGears">
                                    <img class="card-img" src="{{item.img}}" alt="">
                                </div>
                                <div class="div">
                                    <h6 class="text-center text-light mt-4 page-text">{{item.name}}</h6>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="bestSeller">
                <h1 class="text-center text-light mt-5">AORUS'S BEST SELLERS</h1>
                <div class="row mt-5">
                    <div class="col-lg-4 col-md-6 d-lg-block  d-block" *ngFor="let item of list, let i=index">
                        <div class="itemSellers position-relative">
                            <h6 class="text-light price">${{item.price}}</h6>
                            <div class="boxImg">
                                <img class="card-img" src="{{item.imgProduct}}" alt="">
                            </div>
                            <h6 class="text-center text-light name">{{item.name}}</h6>
                            <div class="d-flex choseItem">
                                <a routerLink="/detail/{{item.id}}">Learn More</a>
                                <a (click)="compare(item.id)">Compare</a>
                                <a (click)="addToCart(item.id)">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newFeed">
                <h1 class="text-center text-light">NEWS FEED</h1>
                <h6 class="text-center text-light">Discover PC builds inspiration, DIY tips, gaming tricks, worldwide AORUS events, and more.</h6>
                <h4 class="text-center text-light mt-4">GET STARTED ></h4>
                <div class="row mt-5">
                    <div class="col-lg-3 col-md-4 mb-5" *ngFor="let items of new" routerLink="/new/{{items.id}}">
                        <div class="itemNews position-relative">
                            <span class="tutorial">Tutorial</span>
                            <div class="boxImg">
                                <img class="card-img height100" src="{{items.img}}" alt="">
                            </div>
                            <h6 class="mt-2">{{items.name}}</h6>
                            <button class="buttonNews">MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bgFooter">
        <div class="logoFooter pt-5">
            <img src="../../../assets/images/vinhImg/logo_svg.2fc451ee.svg" class="card-img" alt="">
        </div>
        <h6 class="mt-3 text-center text-light">TEAM UP FIGHT ON</h6>
        <div class="row flexRowFooter">
            <div class="col-lg-2 col-md-3 textFooter">
                <p class="text-light font-weight-bold mb-4 mt-md-0 mt-3">About US</p>
                <p routerLink="/about">About AORUS</p>
                <p routerLink="/aboutg">About Gigabyte</p>
            </div>
            <div class="col-lg-2 col-md-3">
                <p class="text-light font-weight-bold mb-4 mt-md-0 mt-3">Products</p>
                <p routerLink="/shop/1">Motherboards</p>
                <p routerLink="/shop/2">Monitors</p>
                <p routerLink="/shop/3">PC Cases</p>
                <p routerLink="/shop/6">Power Supply</p>
                <p routerLink="/shop/4">Graphics Cards</p>
                <p routerLink="/shop/5">Memorys</p>
                <p routerLink="/shop/7">Memorys</p>
                <p routerLink="/shop/8">SSD</p>
                <p routerLink="/shop/9">Laptops</p>
            </div>
            <div class="col-lg-2 col-md-3">
                <p class="text-light font-weight-bold mb-4 mt-md-0 mt-3">Explores</p>
                <p routerLink="/new">News</p>
                <p routerLink="/blog">Blogs</p>
                <p routerLink="/wallpaper">Wallpaper</p>
                <p routerLink="/compare">Comparision</p>
            </div>
            <div class="col-lg-2 col-md-3">
                <p class="text-light font-weight-bold mb-4 mt-md-0 mt-3">Services</p>
                <p routerLink="/warranty">Warranty</p>
                <p routerLink="/contact">Contact Us</p>
            </div>
        </div>
    </div>

</div>