<div class="body">
    <div class="container-fluid layout">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 wa">
                    <div class="label ">
                        <span>NEWS</span>
                    </div>
                    <h3 class="page-title">{{nameNew.name}}</h3>
                    <p class="time">{{nameNew.title}}</p>
                    <ul class="list">
                        <li><a>News</a></li>
                    </ul>
                    <div class="img">
                        <img src="{{nameNew.img}}">
                    </div>
                    <p>
                        <span class="text">{{nameNew.content}}
                        </span>
                    </p>
                    <p>
                        <span class="text">{{nameNew.content1}}
                        </span>
                    </p>
                    <p>
                        <span class="text">{{nameNew.content2}}
                        </span>
                    </p>
                    <p>{{nameNew.content3}}
                    </p>
                    <ul class="article">
                        <li>
                            <div class="labels">PREV</div> <a>GIGABYTE out!
                                new M30 Series PCIe 3.0 x4 SSD eyes</a>
                        </li>
                        <li>
                            <div class="labels">NEXT</div> <a>GIGABYTE's
                                AX370-Gaming K7 motherboards featured with the Radeon™ RX Vega<sup>64</sup>
                                Bundle</a>
                        </li>
                    </ul>
                    <div class="bn">
                        <a href="">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>