<div class="body">
    <div class="container-fluid layout">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 wa">
                    <div class="label text-secondary">
                        <span class="">NEWS</span>
                    </div>
                    <h3 class="page-title">{{nameNew.name}}</h3>
                    <p class="time">{{nameNew.title}}</p>
                    <ul class="list">
                        <li routerLink="/new"><a><i class="fa-solid fa-angles-left"></i> Back to News</a></li>
                    </ul>
                    <div class="img mb-5">
                        <img src="{{nameNew.img}}">
                    </div>
                    <p>
                        <span class="text pt-5">{{nameNew.content}}
                        </span>
                    </p>
                    <p>
                        <span class="text">{{nameNew.content1}}
                        </span>
                    </p>
                    <p>
                        <span class="text">{{nameNew.content2}}
                        </span>
                    </p>
                    <p>{{nameNew.content3}}
                    </p>
                    <ul class="article">
                        <li *ngIf="prevNew" (click)="navigate(prevNew.id)">
                            <div class="labels">PREV</div> <a>{{prevNew.title}}</a>
                        </li>
                        <li (click)="navigate(nextNew.id)">
                            <div class="labels">NEXT</div> <a>{{nextNew.title}} {{nextNew.name}}</a>
                        </li>
                    </ul>
                    <div class="bn ">
                        <a class="px-5" href="">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>