<div class="body">
    <div class="fakeBody"></div>
    <div class="container-fluid layout">
        <div class="title">
            <h2 id="title">Change Password</h2>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 hj">
                    <div class=""></div>
                    <button class="btn-user " routerLink="/user/">
                        <a class="text-decoration-none text-light">
                            <span class="btn-icon"><i class="fa-regular fa-circle-user"></i></span>
                            <span>User Infomation</span>
                        </a>
                    </button>
                    <button class="btn-user active" routerLink="/usersetting/">
                        <a class="text-decoration-none text-light">
                            <span class="btn-icon"><i class="fa-solid fa-wrench"></i></span>
                            <span>User Setting</span>
                        </a>
                    </button>
                    <button class="btn-user">
                        <a class="text-decoration-none text-light" routerLink="/history">
                            <span class="btn-icon"><i class="fa-solid fa-clock-rotate-left"></i></span>
                            <span>History Order</span>
                        </a>
                    </button>
                    <button class="btn-user" (click)="signOut()">
                        <span class="btn-icon"><i class="fa-solid fa-right-to-bracket"></i></span>
                        <span>Sign Out</span>
                    </button>
                </div>
                <div class="col-md-3 hk col-sm-1">
                    <select #select class="selectForm rounded-0 text-light" (change)="changeRouter(select.value)">
                        <option selected disabled hidden>User Menu <i class="fa-solid fa-angle-down opitions"></i>
                        </option>
                        <option value="1">User InfomationOne <i class="fa-solid fa-angle-down text-light btn-user"></i>
                        </option>
                        <option value="2">User Setting <i class="fa-solid fa-angle-down text-light"></i></option>
                        <option value="3">History Order <i class="fa-solid fa-angle-down text-light"></i></option>
                        <option value="4">Sign Out <i class="fa-solid fa-angle-down text-light"></i></option>
                    </select>

                </div>
                <div class="col-lg-9">
                    <div class="main">
                        <form class="mt-3 mb-3" (ngSubmit)="submit()" [formGroup]="formForEnter">
                            <div class="formGroup mt-5">
                                <label for="" class="form-label">Current password</label>
                                <input (keyup)="hideErr('currentPassword','showText1')" type="password" placeholder="Please enter your current password" id="currentPassword" formControlName="currentPassword">
                                <div class="showText d-none" id="showText1" (click)="showPass(1,'currentPassword','eye1')">
                                    <i class="fa-solid fa-eye" id="eye1"></i>
                                </div>
                                <label class="fst-italic mt-2 d-none form-label text-danger" id="labelErr1">*The
                                    password you
                                    entered does not match the current password</label>
                                <div *ngIf="form.currentPassword.invalid && (form.currentPassword.dirty || form.currentPassword.touched)" required>
                                    <div *ngIf="form.currentPassword.errors?.['required']">
                                        <label class="text-danger fst-italic  ml-3 ">*Please enter a password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="formGroup mt-4">
                                <label for="" class="form-label">New password</label>
                                <input (keyup)="hideErr('newPassword','showText2')" type="password" placeholder="Please enter a new password" id="newPassword" formControlName="newPassword">
                                <div class="showText d-none" id="showText2" (click)="showPass(2,'newPassword','eye2')">
                                    <i class="fa-solid fa-eye" id="eye2"></i>
                                </div>
                                <label class="fst-italic text-danger d-none" id="labelErr2">*Your new password is the
                                    same as your old password</label>
                                <div *ngIf="form.newPassword.invalid && (form.newPassword.dirty || form.newPassword.touched)" required>
                                    <div *ngIf="form.newPassword.errors?.['required']">
                                        <label class="text-danger fst-italic ml-3">*Please enter a password</label>
                                    </div>
                                    <div *ngIf="!form.newPassword.errors?.['minLenght'] && !form.newPassword.errors?.['required']">
                                        <label class="text-danger fst-italic ml-3">*Please enter a valid password that
                                            has a minimum of eight characters.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="formGroup mt-4">
                                <label for="" class="form-label">Confirm new password</label>
                                <input (keyup)="hideErr('confirmPassword','showText3')" type="password" placeholder="Please confirm your new password" id="confirmPassword" formControlName="confirmPassword">
                                <div class="showText d-none" id="showText3" (click)="showPass(3,'confirmPassword','eye3')">
                                    <i class="fa-solid fa-eye" id="eye3"></i>
                                </div>
                                <label class="fst-italic text-danger d-none" id="labelErr3">*The confirm password you
                                    entered does not match the new password</label>
                            </div>
                            <div class="formGroup">
                                <button type="submit" class="btn btn-dark buttonSubmit rounded-0">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>