.boxContainer {
    padding-top: 100px;
    min-height: 740px;
}

.menu {
    padding-top: 100px;
}

.menu a {
    border: none;
    font-size: 20px;
    color: rgb(100, 100, 100);
    font-weight: 600;
    cursor: pointer;
}

.menu span i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.menu span {
    display: inline-block;
    width: 60px;
}

.main {
    width: 90%;
    margin: auto;
}

input {
    width: 100%;
    padding: 7px 15px;
    margin-bottom: 5px;
    border: none;
    border-radius: 0;
    border: 1px solid rgb(223, 223, 223);
}

label {
    margin-left: 15px;
    font-size: 18px;
    color: rgb(100, 100, 100);
    width: 100%;
    font-weight: bold;
}

.formGroup {
    width: 70%;
    position: relative;
}

.buttonSubmit {
    width: 200px;
    display: block;
    font-size: 20px;
    border-radius: 100px;
    background-color: #fff;
    color: #000;
    padding: 5px 40px;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
}

.buttonSubmit:hover {
    background-color: #ff5100 !important;
    box-shadow: 0px 0px 6px 2px #ff5100 !important;
    color: #fff;
}

.showText {
    position: absolute;
    top: 42px;
    right: 20px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .showText {
        right: 20px;
    }
    .main {
        width: 100%;
    }
    .boxContainer {
        padding-top: 100px;
        min-height: 600px;
    }
    h1 {
        font-size: 26px;
        text-align: center;
    }
    p,
    label {
        font-size: 16px;
    }
    .menu {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .main {
        width: 100%;
    }
    h1 {
        text-align: center
    }
    input {
        width: 350px;
    }
}

.body {
    background-image: url('assets/images/cuongimg/backg.jpg');
    padding-top: 100px;
    padding-bottom: 50px;
    height: 804px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.fakeBody {
    width: 100%;
    height: 804px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 0;
}

.layout {
    padding-left: 80px;
    padding-right: 80px;
}

.title h2 {
    color: #fff;
    font-size: 50px;
    line-height: 3.5;
    text-align: center;
}

.layout {
    position: absolute;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: 900;
}

.btn-user {
    background: black;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;
}

.btn-icon {
    margin-right: 30px;
    margin-left: 10px;
    align-items: center;
}

.form-label {
    color: #FF6400;
}

.form-control {
    border: none !important;
    background: none !important;
    border-radius: none !important;
    color: #fff;
    font-size: 16px;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn {
    background: #FF6400 !important;
    color: #fff;
    margin-top: 30px;
}

@media (max-width:1024px) {
    .hj {
        display: none !important;
    }
    .form-select {}
    .hk {
        display: block;
        margin-bottom: 50px;
        padding: 0;
    }
}

@media (max-width:1440px) {
    .hk {
        display: none;
    }
}

@media (max-width:2560px) {
    .hk {
        display: none;
    }
}

@media (max-width:768px) {
    .hk {
        display: block;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    input[_ngcontent-vxt-c62] {
        width: 100%;
        padding: 7px 15px;
        margin-bottom: 5px;
        border: none;
        border-radius: 0;
        border: 1px solid rgb(223, 223, 223);
    }
    .layout {
        padding-left: 40px;
        padding-right: 40px;
    }
    .main {
        margin: 0 auto;
    }
    .formGroup {
        width: 70%;
        margin: 0 auto;
        position: relative;
    }
}

@media (max-width:425px) {
    .formGroup {
        width: 100%;
    }
    .layout {
        padding-left: 20px;
        padding-right: 20px;
    }
    .body {
        height: 1000px;
    }
    .fakeBody {
        height: 1000px;
    }
    .title h2 {
        color: #fff;
        font-size: 44px;
        line-height: 3.5;
        text-align: center;
    }
    .hk {
        width: 50%;
        display: block;
        margin-bottom: 50px;
        padding: 0;
    }
}

@media (max-width:375px) {
    .title h2 {
        color: #fff;
        font-size: 42px;
        line-height: 3.5;
        text-align: center;
    }
    .hk {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    input {
        width: 100%;
    }
    .showText {
        right: 26px;
        top: 39px;
    }
}

@media (max-width:320px) {
    .title h2 {
        color: #fff;
        font-size: 35px;
        line-height: 3.5;
        text-align: center;
    }
    label {
        width: 98%;
    }
    input {
        width: 100%;
    }
}

.btn-user:hover {
    background: #FF6400;
    color: #fff;
    border-color: #fff;
}

.active {
    background: #FF6400;
    color: #fff;
    border-color: #fff;
}

.user-content {
    display: none;
    opacity: 0;
}

.content {
    display: inline-block;
    opacity: 1;
}

.password {
    display: flex;
}

.change {
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.change:hover {
    color: #FF6400;
}

.modal {
    position: absolute !important;
    z-index: 900 !important;
    margin-top: 100px;
}

.modalBody {
    --bs-backdrop-zindex: 800 !important;
}

.user-input {
    border: 1px solid #FF6400 !important;
    background-color: #000 !important;
    color: #FF6400;
    padding-left: 20px !important;
    outline: auto;
    border-color: #FF6400;
    border-radius: 0 !important;
}

.mt-3 {
    margin-top: -5.2em !important;
}

.buttonSubmit {
    opacity: 1 !important;
    cursor: pointer;
    background: #000;
}

.opitions {
    color: #fff !important;
}

.selectForm {
    color: #fff;
    background: #000;
    padding: 10px 20px;
}

@media screen and (max-width:425px) {
    .showText {
        right: 55px;
    }
}

@media screen and (max-width:375px) {
    .showText {
        right: 25px;
    }
}